/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fffcfc;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Contenedores */
form, .users-table {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Títulos */
h1, h2, h3 {
    color: #007bff;
    text-align: center;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

thead {
    background-color: #007bff;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e2e6ea;
}

/* Formularios */
fieldset {
    border: none;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input,
select {
    width: 90%;  /* Ajustado para mejor apariencia */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: block; /* Hace que ocupen toda la línea */
    margin-left: auto;
    margin-right: auto;
}

/* Estilo específico para input password */


/* Estilos para botones */
button{
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto; /* Centrando los botones */
    display: block; /* Hace que ocupen toda la línea */
    width: 95%;
}

button:hover, input[type="button"]:hover {
    background: #0056b3;
}

/* Botones de acciones */
.users-table--edit {
    background-color: #28a745;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.users-table--delete {
    background-color: #dc3545;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.users-table--edit:hover {
    background-color: #218838;
}

.users-table--delete:hover {
    background-color: #c82333;
}
